[2018-09-17 15:11] aduplii opened #2 "Is there some docs how to use it?"
Hello, thank you for this example repository with LTI 1.3 specs implementation. By the way, **how to properly use it** :)?
When I call http://localhost:9001/launch.php it tells me that request should be POST, ok, I send the POST method and another var_dump+die message appeared. So somehow (by looking at code) I figured out that it's necessary to send a jwt param with defined structure with POST. W

[2018-09-17 15:20] jrissler commented on #2
@aduplii we have other resources that are more of reference implementation with those kind of details, this PHP library just implements against that. Are you part of IMS, or is your company part of IMS? (feel free too email me: jrissler@imsglobal.org) - would be happy to get you started

[2018-09-17 15:51] #2 closed

[2018-11-09 12:10] abertranb opened #3 "OIDC"
Hi @MartinLenord nice job here! I integrated a draft version with WP and it is very nice

There is any plans to integrate with OIDC? I can help

Best regards

[2018-11-09 13:36] MartinLenord commented on #3
I will probably be adding the OIDC flow in the next week during the IMS Quarterly, if you are there, then i'll be happy to have someone to work on it with :)

[2018-11-13 07:15] edusystemsdev opened #5 ""Launch must be a POST""
When i open the `index.php`  this output is recieved

"Launch to launch.php to get started"

So i launch `launch.php` but it shows

"Launch must be a POST"

I have seen `launcher.php` file with two buttons `Go` and `Go Deep`. And by clicking this will redirect me to `launch.php` with 2 fatal errors.

can any one help me execute this script.

[2018-11-13 07:37] edusystemsdev commented on #2
Hi @jrissler I've send you a mail. I'm facing the exact same problem. Could you please help me to sort this out. Our company is a part of IMS and we want to integrate cengage to our web application.

[2018-11-13 10:18] jrissler commented on #2
@edusystemsdev Yes will reply a little later today, happy to help get you going.

[2018-11-15 04:47] edusystemsdev commented on #2
@jrissler , Hi could you please help me. Its urgent. Thank you.

[2018-11-15 12:17] jrissler commented on #2
@edusystemsdev Yep check your inbox :)

[2018-11-15 12:35] jrissler commented on #5
We will discuss this out-of-band. It's less a library issue and more of a general LTI thing.

[2018-11-15 12:37] edusystemsdev commented on #5
ok @jrissler

[2018-11-15 14:05] MartinLenord commented on #3
The WIP for this is available on the `oidc` branch

[2018-11-26 07:35] edusystemsdev commented on #5
@jrissler hi james , when i try this code i encountered some issue. can i get some support.

[2018-11-26 14:39] jrissler commented on #5
@MartinLenord - do we need more instructions here? I'm assuming you would need a platform in RI or elsewhere to actually do the POST launch to launch.php?

[2018-11-26 18:45] MartinLenord commented on #5
Yes, the master branch is still a little out of date and may not work (as there was a move to the OIDC which is on another branch) that code still needs cleaning up before pushing it to master.
There is the launcher.php that does a launch to launch.php, but with the recent changes, i'm not sure if that will work.

[2018-12-04 10:30] edusystemsdev commented on #5
@jrissler   Hi , For the time being do we have any way to integrate our LMS to cengage. Haven't find any way for cengage integration with LTI. please help me.

[2018-12-04 11:02] MartinLenord commented on #5
@claudevervoort may be able to help you there :)

[2019-02-11 19:27] MartinLenord commented on #3
OIDC is now complete and has been merged into master
The whole repo has pretty much been rewritten from scratch so that it can be used as a library.
Let me know if there are any other issues you find :)

[2019-02-11 19:27] #3 closed

[2019-02-11 19:27] #5 closed

[2019-05-15 13:24] mark-ellul opened #7 "Is this library a provider library implementation?"
Is this Library a provider based library or does it contain code that consumers can use?

I was hoping to get a library that we can interact with to prepare (JWT encrypt etc) the LTI 1.3 messages to send to a provider. If this library doesn't do that, is there a library we can use to implement the LTI 1.3 as a consumer?

Thanks and Regards,
Mark

[2019-05-15 17:32] MartinLenord commented on #7
Hi Mark,

Currently this code focuses around developing tools, we don't have any libraries for dealing with platforms.
Having said that, the Firebase library that is used within this code to sign JWTs for the tool, can also be used to sign platform JWTs, it just doesn't have the LTI specific modelling around it

Thanks,
Martin

[2019-05-16 14:18] mark-ellul commented on #7
Hi Martin,

Thanks for responding. So if this is for developing tools, I could use this code to validate my platform code for launching a LTI Link and sending Grades to my platform?

Thanks and Regards

Mark

[2019-05-16 14:33] MartinLenord commented on #7
Hi Mark,
Yes, indeed you can!
You can also use the IMS reference implementation to test out your platform https://github.com/IMSGlobal/lti-reference-implementation

[2019-05-16 14:54] mark-ellul commented on #7
Hi Martin,

Unfortunately the IMS reference implementation is still closed to the public, at least the code is closed.

If you know of any other LTI 1.3 libraries that are out there I would appreciate it if you let me know, as I have to convince some tool providers to implement LTI 1.3 so any source that can help them would be appreciated.

Thanks and Regards

Mark

Mark

[2019-05-16 14:56] jrissler commented on #7
@mark-ellul Reach out to Lisa, she can help you

[2019-05-16 14:58] mark-ellul commented on #7
@jrissler  do you know how I can contact Lisa? is it @ LMattson ?

[2019-05-16 14:59] MartinLenord commented on #7
Blackboard also have an example LTI tool written in node that i think is open source @ewpreston might be able to point you in the direction of that

[2019-05-16 14:59] jrissler commented on #7
@mark-ellul you can reach out to me jrissler@imsglobal.org and I'll put you in touch.

[2019-05-16 17:21] mark-ellul opened #8 "Platform keys with example code"
Hi,

As discussed in another issue I am trying to implement a platform and use this library as a tool provider for testing.

I know that when I try to trigger the launch.php I need to JWT::encode the message. I see in the example (simple) that there is a jwks.json which is used to decrypt the message.

What is the private key that matches the jwks.json so that I can encode the message in the forma

[2019-05-16 17:51] mark-ellul commented on #8
PS: Is it the "private.key" in the example folder? Or does the jwks.json public key match a different private key?

[2019-05-16 17:52] mark-ellul commented on #7
Closing out. Thanks to @MartinLenord @jrissler and @LMattson for your help

[2019-05-16 17:52] #7 closed

[2019-05-17 12:45] MartinLenord commented on #8
yes, in the example, both platform and tool configuration use the same keyset

[2019-05-17 13:18] mark-ellul commented on #8
Thanks @MartinLenord , closing out the issue

[2019-05-20 11:00] mark-ellul commented on #8
@MartinLenord  my apologies for the stupid question, but how did you generate a private key and a matching JWK?

I have been searching and haven't found a good way to generate a private key and a JWK.

[2019-05-20 11:35] MartinLenord commented on #8
You can generate a private and public key by doing:
[code]

I'm not aware of a nice way of generating a JWK in php, so it may be worth just putting your **public key** through an online converter then hosting the JWK as a static file.

You would only need to do this once as you can use the same platform key across all tools. You could do it again if you wanted to rotate the key

[2019-05-20 13:55] mark-ellul commented on #8
thanks @MartinLenord I knew about the generation of RSA keys just not how to convert to JWK, I will keep on investigating on the way to convert it. Thanks

[2019-05-20 13:55] #8 closed

[2019-05-23 16:34] xcesaralejandro opened #11 "¿Este proyecto es una versión moderna de LTI-Tool-Provider-Library-PHP?"
Cual es la diferencia de este proyecto con el mencionado en el titulo?

https://github.com/IMSGlobal/LTI-Tool-Provider-Library-PHP

[2019-05-23 16:57] mark-ellul opened #12 "Example vs Game Example development"
Hi @MartinLenord ,

First of all I would like to thank you for this project, it has been immensely useful in creating my platform integration.

I have noticed the changes you have made over the last few days. Specifically the ability to use a json to define platform details. I noticed that you only updated the game_example. I have a couple of questions.

1. Going forward, are you going to focus on

[2019-05-23 17:16] mumitr0ll commented on #11
Si. La diferencia es en la version de LTI. Esta PHP proyecto aqui es por la version 1.3 - la version mas nueva and el producto de las proceses de IMS Global en el ano pasado. El proyecto en su pregunta describe proceses usar LTI version 1.1 - una version en produccion normal hoy. El futuro de LTI es version 1.3, a pesar de que la conversion de version 1.1 tendra lugar el próximo dos anos (mas or m

[2019-05-23 17:19] xcesaralejandro commented on #11
Gracias por la ayuda, tu español se entiende correctamente 👍

[2019-05-23 18:28] MartinLenord commented on #12
Hi Mark,
The game_example is the better example for testing LTI advantage as it makes use of all the Advantage specifications.

I may remove the simple launch example at some point. The game example is fully certified for full LTI advantage, so you can use it to test a platform against. https://site.imsglobal.org/certifications/turnitin/38021/lti+1.3+php+library+example

[2019-05-23 18:32] #11 closed

[2019-05-24 08:31] mark-ellul commented on #12
@MartinLenord thanks for the update. Congratulations on getting certification. I hope to get our platform certified at some point. Do we have to be a IMS Global member to be certified?

[2019-05-24 10:27] #12 closed

[2019-06-04 13:42] gotaholen1 opened #14 "Php version requirements?"
What is the minimum php requirements for this library?  PHP 54 does not seem to be enough.  Thanks.

[2019-06-05 13:50] mark-ellul commented on #14
@gotaholen1 I was trying on PHP 5+ and couldn't get it working, I had to deploy on a php 7+ environment to get it to work

[2019-06-05 13:56] mark-ellul opened #15 "Deep Link on game example expects "launch_id" parameter from platform, but the platform never has that information"
Hi Martin,

I am trying to implement the Deep Linking on a platform. From the IMS Global specification it looks like there is no need for a oidc_login, [https://www.imsglobal.org/spec/lti-dl/v2p0#workflow](https://www.imsglobal.org/spec/lti-dl/v2p0#workflow) . As far as I can tell to start the DeepLink process off the platform needs to shape a LtiDeepLinkingRequest message and pass it to the provi

[2019-06-05 14:02] gotaholen1 commented on #14
Thanks, I will give that a try today!

[2019-06-05 14:19] mark-ellul commented on #15
Actually I think I see my problem, for a deep link launch, I should still do a oidc_login  then redirect to the game.php in this case with the message type being a LtiDeepLinkingRequest, which then shows a screen to set the difficulty, which then redirects to configure.php which then sends the LtiDeepLinkingResponse message.

Is that correct?

Is this standard behavior? i.e the workflow doesn't fo

[2019-06-05 14:26] mumitr0ll commented on #15
Hello Mark,
yes I think you have it right. The request for Deep Linking launch follows the same pattern as the standard LTI launch - you have the OIDC dance and then launch to the registered DL URL. I'm not too terribly familiar with the PHP code in this project, but in the Cert suite we have two endpoints. There is an OIDC third-party endpoint (for starting the OIDC parameter dance), and then a D

[2019-06-05 14:28] mark-ellul commented on #15
@mumitr0ll Thanks, the specifications can be quite obtuse at times. There are a bunch of missing examples for parameters etc...

[2019-06-06 22:02] MartinLenord commented on #15
Yes, you will need to do the whole OIDC login flow for any message launch, both standard and deep linking. If the docs aren't showing this we should update the docs to make it clearer

[2019-06-06 22:02] #15 closed

[2019-06-06 22:04] MartinLenord commented on #14
@gotaholen1 i can't say i've tried with any older versions, what specific issue are you getting when trying 5.4?

[2019-06-10 11:41] mark-ellul opened #16 "Should the LtiDeepLinkingResponse be decoded with the tool's public key?"
Hi,

In the documentation, https://www.imsglobal.org/spec/lti-dl/v2p0#deep-linking-response-message it mentions

I see in the code that it does indeed encode it with the private key.

However when I came to decode the response the only way I could do it and get a correct response was with a urlsafeB64Decode. With the example shown below.

`$jwt = $params["JWT"];`
`$jwt_parts = explode(".", $jwt);`

[2019-06-10 13:16] MartinLenord commented on #16
Hi Mark,

The JWTs aren't encrypted, they are just signed. it is up to the party receiving the JWT to validate the signature on it. You need to be able to decide the JWT before checking the signature to work out which client it came from and which public key to use to validate the signature.

[2019-06-10 17:42] mark-ellul commented on #16
Hi Martin,

Yes my problem was that the public key I had generated from the private key was not correct.

I have attached the working public key, which you might want to add to the documentation.

-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA8osiSa75nmqmakwNNocL
A2N2huWM9At/tjSZOFX1r4+PDclSzxhMw+ZcgHH+E/05Ec6Vcfd75i8Z+Bxu4ctb
Yk2FNIvRMN5UgWqxZ5Pf70n8UFxjGqdwhUA7/n5KOFoUd9

[2019-06-10 17:42] #16 closed

[2019-07-24 08:04] Rohi145 commented on #2
Hi jrissler, Can you please send me the exact documentation to use this library?

[2019-07-24 08:19] Rohi145 opened #18 "LTI 1.3 OIDC authentication"
Hi Martyn,

When we are using your or other private key  for OIDC authentication its working fine...when we are using blackboard private key then its unable to validate oidc...Can you please help me in this scenario?

[2019-07-24 11:07] MartinLenord commented on #2
@Rohi145 there is documentation on how to use the library here https://github.com/IMSGlobal/lti-1-3-php-library/blob/master/README.md if you have a specific question let me know

[2019-07-24 11:14] MartinLenord commented on #18
What are you using as the `key_set_url` for your registration?

[2019-07-24 14:56] Rohi145 commented on #18
https://developer.blackboard.com/api/v1/management/applications/53ff6a48-5896-4d30-8922-83c713dbc2bf/jwks.json

[2019-07-24 15:03] MartinLenord commented on #18
Ok, what is the message in the exception when trying to validate a signature with that key?

[2019-07-24 15:07] Rohi145 commented on #18
Signature verification failed...

For your reference ,Please find below my private key

-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDARl/3FzG7C2fZ
Gy17T6bBuQsAK9fSTCgrODlnKsSGR2KaPo2Wt3cfv+C1dlXIhoUN+gUgEmc89q1P
rr+FSGWUkLZLIadh7cpNbaDXzsMlBBPcJ1MhbgYJjP9xF9nOPE5IKnTy3VLE/TdE
MD4MWuotUNSXTty1v/H+W4DwuUhy2kfUwm/6aCK2H8XVld71PF59uqFm+LRwC4Vq
sCgMtWqq6Vpgl9j4gZMh2JmP

[2019-07-24 18:22] Rohi145 commented on #2
Hi Martin...
Thanks for your prompt reply

I have some basic questions:

1.	How will we distinguish the request is deep link request or Basic launch request?
2.     Is it possible to process LTI 1.1 request using LTI 1.3?

[2019-07-25 08:21] MartinLenord commented on #18
@Rohi145 The incoming LTI request and id_token isn't validated by your private key, it is validated against the public keys at the JWKS endpoint.
The endpoint you gave doesn't have any keys in it https://developer.blackboard.com/api/v1/management/applications/53ff6a48-5896-4d30-8922-83c713dbc2bf/jwks.json so it can't find the correct key to validate the request. It may be that your registration ha

[2019-07-25 08:25] MartinLenord commented on #14
Let me know if you are still having issues, and i'll re-open

[2019-07-25 08:25] #14 closed

[2019-07-25 08:35] MartinLenord commented on #2
Hi @Rohi145

1) in the library you can call the `is_deep_link_launch` method on a `LTI_Message_Launch` object which will tell you if the launch is meant for deep linking.
[code]
This checks the `https://purl.imsglobal.org/spec/lti/claim/message_type` claim for the value `LtiResourceLinkRequest`

2) No, this library does not support 1.1 launches. 1.3 is also not backwards compatible with 1.1 launch

[2019-07-25 10:48] RohitAShirsath commented on #18
Hi Martyn,

Sorry for inconvenience.
Please find below new keyset and private key:
https://developer.blackboard.com/api/v1/management/applications/d27856fc-cf33-44a6-83e8-e1b910c87397/jwks.json

---------------------------------------------------------------

-----BEGIN PRIVATE KEY-----
MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQCc+Ehy/QRdCP3V
m/fYUPSilpx6tlaN1JOGu+QDWGFAga1+gdZVPsIQbh52gAD

[2019-07-25 11:16] RohitAShirsath opened #19 "Deep link Return URL"
Hi Martyn,

Can you please explain where are we get deep link return url in any LMS for LTI 1.3?

So we will submit deep link response content to that URL.

[2019-07-25 12:31] RohitAShirsath commented on #18
Hi Martyn,

Sorry for inconvenience.
Please find below new keyset and private key:

https://developer.blackboard.com/api/v1/management/applications/d27856fc-cf33-44a6-83e8-e1b910c87397/jwks.json

-------------------------------------------

-----BEGIN PRIVATE KEY-----
MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCPGwOIIPxDgprk
ADh83Gk4ZAFSBpX2aD1QCJK7EjmDqQ9NI0jeARFCOpWD8zDkAgmaLK3XF88L64bp
e

[2019-07-25 19:27] MartinLenord commented on #18
@RohitAShirsath what does your implementation of `LTI\Database` look like? are you just trying to get the example code working or are you using the library in your own code? (i would also advise not putting your private key in public comments as it would allow people to do impersonation attacks)

[2019-07-26 06:14] RohitAShirsath commented on #18
@Martyn,
we are using your  library in our project. But signature verification is not done properly.

Also,Thanks for your advice.But this is not our official account keys. We are using this one on local server.

[2019-07-26 06:18] RohitAShirsath commented on #18
@Martyn,
we are using your library in our project. But signature verification is not done properly.
Also, Thanks for your advice. But this is not our official account keys. We are using these keys on the local server.

[2019-07-26 06:30] Rohi145 commented on #18
@Martyn,
We are using your library in our project. But signature verification is not done properly.
Also, Thanks for your advice. But this is not our official account keys. We are using these keys on the local server

[2019-07-26 07:26] MartinLenord commented on #18
The signature is done here https://github.com/IMSGlobal/lti-1-3-php-library/blob/master/src/lti/lti_message_launch.php#L287 could you add in some logging to check what is in `$this->request['id_token']` and `$public_key['key']` at that point?

[2019-07-26 07:33] Rohi145 commented on #18
@Martyn,
Is signature verification done on your side using our credentials?

[2019-07-26 07:45] MartinLenord commented on #18
The library handle validating the signature, for example
`$launch = LTI\LTI_Message_Launch::new(new Example_Database())->validate();`
When validate is called the library will use the `Example_Database` to identify the registration, then will fetch the public key from the `key_set_url` provided and validate the signature. There isn't currently a way to bypass the libraries signature validation. So

[2019-07-26 07:52] Rohi145 commented on #18
@Martyn,

We are passing key set and priveate key in JWT.But validation failed using that keys.

we are missing something?

[2019-07-26 08:13] MartinLenord commented on #18
You do not validate the id_token with your private key, you validate it with the platform public key that matches the KID from the id_token that is fetched from the `key_set_url`

The private key is used to sign requests that the tool makes to the platform

[2019-07-26 08:17] Rohi145 commented on #18
@MartinLenord

Yes, we agree with that. When we validate token with the public key, we are getting `Signature verification failed error`.

Can you please guide me about that?

Is our credentials are wrong?

[2019-07-26 08:22] MartinLenord commented on #18
Can you send me the id_token you are trying to sign and the public key you are using to sign it

[2019-07-26 08:38] Rohi145 commented on #18
@MartinLenord ,

 Please find below id_token for your reference:

eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6ImQyNzg1NmZjLWNmMzMtNDRhNi04M2U4LWUxYjkxMGM4NzM5NyJ9.eyJpc3MiOiJodHRwczpcL1wvYmxhY2tib2FyZC5jb20iLCJzdWIiOiJfMjg1MF8xIiwiYXVkIjoiZDI3ODU2ZmMtY2YzMy00NGE2LTgzZTgtZTFiOTEwYzg3Mzk3IiwiYXpwIjoiOTYyZmE0ZDgtYmNiZi00OWEwLTk0YjItMmRlMDVhZDI3NGFmIiwibmFtZSI6IlQgUyIsImdpdmVuX25hbWUiOiJUIiwiZmFtaWx5X

[2019-07-26 08:40] Rohi145 commented on #18
@MartinLenord ,

 Please find below id_token and public key for your reference:

 -----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAqd6IuT+vtTxvwx5AlTup
79cQpoVobWYMuipEv+aLwqXtJnpKEf85MqqhLkOCOz4LxAuTPp/qFNnaHohL/w++
Y1nU5kWm+1lvBXewujUQQYE7fPQZnC2hMtUmP7j4MIbZbVeVcVNqQsRZpFFYbZys
O5MKbYi6K+BkdrcgmFha9wjJDuc1MY8EGYE88sLZUlddRguJjsuNiiLpj0iYARLm
D+JGdNmevSL6+umRjCxVmx10YpOOq5w

[2019-07-26 09:59] MartinLenord commented on #18
hmm, interesting, that JWT is signed with your private key not blackboards, did you resign the request?

[2019-07-26 10:45] Rohi145 commented on #18
Yes, we are resigning a lot of times but each time we are getting the same error.

[2019-07-26 10:49] MartinLenord commented on #18
Why are you re-signing the request? You can't resign a request from a platform, because you don't know the platform's private key, you can only validate it with the public key

[2019-07-26 10:54] Rohi145 commented on #18
@MartinLenord ,

Means you want to say that,we don't use blackboard credentials for JWT authentication?

So what are the use of keyset and private key provided by blackboard to us?

Because we are using that one for JWT creation and authorization.

[2019-07-26 11:03] MartinLenord commented on #18
Each party (tool and platform) has two keys, a public key and a private key. The private key is used to sign requests, the public key is given to the other party so that they can validate that a message is really coming from the first party.

Blackboard gives you a private key for you to sign requests that are going back to blackboard with, it also gives you a JWKS url so that you can get their pu

[2019-07-26 11:15] Rohi145 commented on #18
@MartinLenord
We are doing the following thing please tell us we are correct or not:
1. Now blackboard provides us private key, keyset url.
2.We are using that private key for JWT creation and validate with the public key generated by keyset url.
3. Also we are using the private key for access token generation. But also not getting any  access token using that private key.
 Please go through these

[2019-07-26 11:43] Rohi145 commented on #18
@MartinLenord
We are doing the following steps please tell us we are correct or not:

Now blackboard provides us private key, keyset url.
2.We are using that private key for JWT creation and validate with the public key generated by keyset url.
Also we are using the private key for access token generation. But also not getting any access token using that private key.
Please go through these steps

[2019-07-26 12:09] Rohi145 commented on #18
@MartinLenord

keys.php that is included in return.php is also not existed.

And if we are using your tool private key (i.e. defined in private.key file) in return.php file then its JWT signature is validated using JWK key set. Because of that, we confused about credentials.

[2019-07-29 06:43] #18 closed

[2019-07-30 06:22] RohitAShirsath commented on #19
# #

[2019-07-30 06:22] #19 closed

[2019-08-05 20:26] hanleybrand opened #20 "example/platform/return.php: ../keys.php: failed to open stream (file does not exist)"
Trying to get the example apps up and running, example isn't working because a file is missing (/example/keys.php) - calls to example/platform/return.php result in following error:

(this is on a local machine after invoking `docker-compose up --build`

Is this a file that was meant to be created by the end user or is it just missing?

Creating example/keys.php and either creating a variable calle

[2019-08-13 12:34] dmitry-viskov opened #22 "Python implementation"
hi guys. if you are interested - i've reimplemented this library on Python:

https://pypi.org/project/PyLTI1p3/
https://github.com/dmitry-viskov/pylti1.3

All suggestions/contribution are welcome

[2019-08-13 14:34] MartinLenord commented on #22
Nice, always good to have some more 1.3 implementations 👍 i'll pass it on to the group to see if there are any people interested in contributing

[2019-08-13 14:43] MartinLenord commented on #20
hmm, looks like the standard example is a bit out of date, i should probably remove it as it isn't as helpful as the other example. Have you tried the `game_example`  launch, you may have better luck with that one

[2019-08-13 16:02] #22 closed

[2019-08-14 14:48] mwleinad opened #23 "How to use this example using Canvas as a platform?"
I've been reading about the specification and still trying to figure things out.
But for now, at least, the tool is working using my own imsglobal platform
https://lti-ri.imsglobal.org/platforms/395/

But now, do you know how to setup this in a different platform? I'm using Canvas.
When I launch the tool, it goes to game_example/login.php using this data

https://lti-ri.imsglobal.org/platforms/395

[2019-08-15 14:41] mwleinad commented on #23
Found the solution yesterday
in my local.json
    "https://canvas.instructure.com": {
        "client_id": "//Api key id key from canvas
        "auth_login_url": //Canvas auth login url,
        "auth_token_url": //Still trying to figure out this one
        "key_set_url": //Canvas url to public keys
        "private_key_file": //Tool private key
        "deployment": {
            "deplymentIdFr

[2019-08-15 14:55] MartinLenord commented on #23
Hey @mwleinad,
Canvas have some unofficial documentation on 1.3 here https://docs.google.com/document/d/1g2ODyuXvYGYfpZHwxBOcjqZOJwjme_85t72F3jbWb4E/edit i don't think there are any official docs for it yet

[2019-08-16 15:09] mwleinad commented on #23
Yeah, it was very hard to figure out, but I finally was able to 😄
I still don't know how I'm supposed to get the deployment id though.

Maybe you can point me in the right direction with something else?
How can I get the email for the person that launched the tool?

Thanks!

[2019-08-16 15:28] MartinLenord commented on #23
You can have a look in the id_token JWT that is passed in the launch, the deployment_id will be in there under the `https://purl.imsglobal.org/spec/lti/claim/deployment_id` claim

You can get the email address `$launch->get_launch_data()['email']` which gets the `email` claim in the `id_token`

[2019-08-19 14:49] mwleinad commented on #23
What if the launch data doesn't not contain the email?

[code]

I'm taking a look at Canvas settings but I can't find one to "send the email" like in lti 1.1. No luck so far

[2019-08-19 15:04] MartinLenord commented on #23
Email is not a required field, so the platform does not have to send it. I believe in Canvas when you create your tool credentials there is an option to set the privacy level that determines if emails are sent

[2019-08-20 12:32] Rohi145 opened #25 "The LTI tool isn't responding properly. Please try again or contact your administrator for help"
Hi ,

In Blackboard, We will get the following error message:
The LTI tool isn't responding properly. Please try again or contact your administrator for help
 Any Idea, when it comes?

[2019-08-20 19:29] #25 closed

[2019-08-23 05:11] Rohi145 opened #26 "Regarding LTI 1.3 Canvas"
Hi,
We have a doubt regarding LTI 1.3 in canvas as follows:

1. In LTI 1.1, we can identify valid instructor tool launch using consumer key and secret key. So, how to identify valid instructor launch in LTI 1.3 before open id JWT generation?
2. Can we validate deep link request using oauth2 access token verification?

[2019-09-05 02:42] viveklm commented on #23
Getting following error not sure what value and where to set private_key_file??

{"errors":{"jwt":[{"attribute":"jwt","type":"JWT verification failure","message":"JWT verification failure"}]}}

[2019-09-06 15:23] viveklm commented on #19
Hi Rohit,

Always getting error

{"errors":{"jwt":[{"attribute":"jwt","type":"JWT verification failure","message":"JWT verification failure"}]}}

Not able to understand what wrong i am doing here.

[2019-09-07 19:59] viveklm commented on #2
@edusystemsdev : Hi could you please help me. Its urgent.

[2019-09-07 20:10] viveklm commented on #26
@Rohi145: Did you resolved your issue, I am facing this issue. when launching deep link

{"errors":{"jwt":[{"attribute":"jwt","type":"JWT verification failure","message":"JWT verification failure"}]}}

Getting following error not sure what value and where to set private_key_file??

@MartinLenord : I would greatly appreciate it if you kindly give me some feedback.

[2019-09-10 20:36] viveklm commented on #8
@mark-ellul : Did you find a solution for this??

[2019-09-10 22:24] DavidWalley opened #27 "Can I run this without using Docker?"
I am trying to get LTI 1.3 working as simply as possible. Docker and docker-compose are two things I would rather not learn as they add to the time to get this working.

Please add some instructions for those of us trying to simplify.

[2019-09-11 07:27] MartinLenord commented on #27
The code will work on its own if you already have apache/php on your machine. Just copy the `src` folder into your web directory and hit it from there.

The docker is advised because it prevents any issues with different configurations/versions of PHP. You can just run the one command in the readme

There is also a composer branch https://github.com/IMSGlobal/lti-1-3-php-library/tree/composer bit

[2019-09-11 07:39] MartinLenord commented on #26
Hey @Rohi145
Sorry for the slow reply.
1. If i understand the question correctly, the signature on the `id_token` validates that the request was signed by Canvas. To know who the request was signed for, you must look at the `deployment_id`. I you don't recognise the `deployment_id`, you should allow the user to prove who they are (e.g. logging in as an administrator) then you can link the `deploym

[2019-09-11 09:24] Rohi145 commented on #26
@MartinLenord ,

-----Before id_token generation when login is initiated, we get some parameters from respective LMS (ex.login_hint, issuer, etc.).We need to know during this time, which parameter is used to help for valid instructor validation before OIDC launch.

[2019-09-11 10:21] MartinLenord commented on #26
The initial OIDC launch is unsigned. You will be given the issuer that can be used along with the url used to login to identify the client id and url to return to. You cannot validate the user at this point as no user information is passed, also this launch isn't signed so you cannot use the information in it to do any actions except redirect back to the platform.

Verifying the user must be done

[2019-09-11 10:55] Rohi145 commented on #26
@MartinLenord

Thanks for info,

Means as of now, In LTI 1.3 we need to authenticate the user from client id and deployment id?
Because consumer key is not part of LTI 1.3.

[2019-09-11 12:04] MartinLenord commented on #26
Yes, you will have issuer ->client_id -> deployment_id to identify a user

[2019-09-12 06:36] DavidWalley commented on #27
Thanks, but I have copied the src folder. What do you mean "hit it from there"? What URL do I hit?

Also, in the README, you say "This can be found in each example tool's code at db/configs/local.json. To configure your registration add a JSON object into the local.json file in the following format."
I cannot find local.json. Do I create it?

Sorry to be a pest, but your project might be the only

[2019-09-12 07:33] MartinLenord commented on #27
You will have to configure the tool into the platform you are testing with
The urls will likely be something like
OIDC Login URL http://localhost/game_example/login.php
LTI Launch URL http://localhost/game_example/game.php
Provided that everything is running on port 80
You will have to create the local.json. You can use the same format as https://github.com/IMSGlobal/lti-1-3-php-library/blob/maste

[2019-09-13 03:09] viveklm opened #29 "In Canvas, From where Will find private key for jwk authentication"

[2019-09-13 07:42] MartinLenord commented on #29
Please see the comment at https://github.com/IMSGlobal/lti-1-3-php-library/issues/23#issuecomment-521670913 that doc should explain what to do in canvas

[2019-09-13 07:46] #29 closed

[2019-09-15 05:39] viveklm commented on #23
Deployment Id will get from External Apps. for ease of reference check screenshot below.

![image](https://user-images.githubusercontent.com/31856032/64917050-9b5aef80-d759-11e9-8ef3-ba80b21af5e5.png)

[2019-09-18 17:04] coderNeos opened #30 "Why this library does not follow PSR standards?"
Are there any plans to rewrite this library according to PSR standards?
There are few reasons to do that:
1. PSR is widely adopted standard in PHP community (all popular frameworks follow PSR)
2. It will be impossible to configure linter when trying to integrate this library in a codebase, which follows PSR

[2019-09-20 00:20] viveklm commented on #25
Did you get the resolution for this??

[2019-09-21 02:09] viveklm commented on #25
@Rohi145 : Did you get the resolution for this??

[2019-09-21 13:13] Rohi145 commented on #25
Create new application and registered again.

On Sat 21 Sep, 2019, 7:39 AM Vivek Aswal, <notifications@github.com> wrote:

[2019-10-02 14:21] wojciechk78 opened #31 "How to send launch parameters in login request?"
Is it possible to send launch parameters like resource_link or context in login request?
They're hardcoded in return.php file, so they're always the same.

There are some other required parameters in initial request like 'iss' and 'login_hint' not mentioned in documentation.

https://github.com/IMSGlobal/lti-1-3-php-library/blob/0eca5f9b26b2db09a9c1a21e9fa39d0bc1df26fb/src/example/platform/return.

[2019-10-16 18:03] desduvauchelle opened #33 "node JS version?"
Hello, you mentioned at the end of your README.md that you want to know if other languages are of interest. I would like to propose nodeJS, it's becoming more and more popular.

[2019-10-16 21:50] MartinLenord commented on #33
Hi Denis, thanks for the interest. There currently aren't any attempts to rebuild the library in node that i am aware of, however there is an open source example of a tool written in Node that can be found here https://github.com/blackboard/BBDN-LTI-Tool-Provider-Node

[2019-10-25 19:30] mwleinad opened #34 "Some issues with certain LMSes"
We work with several major LMSes and not all of them work correctly with a plug-and-play configuration.
I forked this repo and I fixed some issues. But just to keep you informed I will try to list some of the issues I have found

Issue 1:
D2L (Brightspace). The public jwk set doesn't have an "alg"
`lti_message_launch.php` fails. Method `get_public_key()`
https://devcop.brightspace.com/d2l/.well-kn

[2019-10-25 20:52] MartinLenord commented on #34
Thanks for the heads up @mwleinad, i know D2L also require the tool to have a public JWKS url, which is not currently supported by the library. I have it working local, but i haven't gotten round to cleaning it up to add it into the library.

[2019-10-28 16:30] mwleinad commented on #34
Issue #2 With D2L deep linking you need to declare a `kid` in the JWK header
https://github.com/IMSGlobal/lti-1-3-php-library/blob/6035f1811d62f02128ae1e7b490e5d86c9327f5a/src/lti/LTI_Deep_Link.php#L30

Proposed solution: Pass another parameter $kid to `get_response_jwt`. The $kid must match the $kid of your JWK

`return JWT::encode($message_jwt, $this->registration->get_tool_private_key(), $kid);

[2019-10-28 19:18] mwleinad commented on #34
Issue #3
When you get an access token the iss should be the same as the sub
https://www.imsglobal.org/spec/lti/v1p3#token-endpoint-claim-and-services
So basically just do that. in the lti_service_connector
`"iss" => $client_id, //This is hardcoded right now
 "sub" => $client_id,`

[2019-10-28 19:21] mwleinad commented on #34
Issue #4
When getting an access token the aud could be a different url than the $auth_url.

IE D2L uses 3 different URL's.
Brightspace OAuth2 Access Token URL
https://auth.brightspace.com/core/connect/token
OpenId Connect Authentication Endpoint
https://devcop.brightspace.com/d2l/lti/authenticate
Brightspace OAuth2 Audience
https://api.brightspace.com/auth/token

[2019-10-29 22:01] mwleinad opened #36 "Set cookie should use samesite parameter. Path should be declared too"
I started to get a warning with chrome
https://www.chromestatus.com/feature/5633521622188032

They are forcing this to be set,

I changed mine to:
`setcookie($name, $value, [
            'expires' => time() + $exp,
            'samesite' => 'none',
            'path' => '/',
            'secure' => true
        ]);`

And as you can see I added the path parameter too, as the cookie wasn't being set

[2019-11-13 21:44] MartinLenord commented on #34
All these issues should now be fixed with #37 I've verified this with the example tool against D2L and everything is now working

[2019-12-04 16:37] MichaelCStevens opened #38 "Does this library use OAuth2.0?"
I'm having trouble understanding the implementation and how it is 1.3 compliant?

[2020-01-12 02:51] teamwenger opened #41 "OpenSSL unable to sign data"
I am able to login and launch using the library just fine. However, when attempting to send a grade using $grades->put_grade($score); I receive an error from JWT saying "OpenSSL unable to sign data" of type DomainException (/vendors/fproject/php-jwt/src/JWT.php line 200-202).

Any idea what's going on here? I'm able to decode but not encode. I have openssl version 1.1.1 FIPS.

Thanks

[2020-01-22 08:28] MartinLenord commented on #41
Hi @teamwenger is this running inside the docker container, or locally on your machine?

Also make sure that you have your private key configured correctly, it could be that it is attempting to sign with an empty key

[2020-02-03 00:14] jd555 commented on #23
Did you determine what the auth_token_url should be? I found some Canvas oAuth 2.0 docs (https://canvas.instructure.com/doc/api/file.oauth_endpoints.html) that said it would be /login/oauth2/token though I get a page not found with my own open source Canvas set up. Plus it also wants a "client_secret", but does this library support that?

[2020-02-19 17:53] #38 closed

[2020-03-03 21:12] vivekaswal commented on #23
Deeplinking service https://xxxxx.instructure.com/courses/175/deep_linking_response?modal=true giving 500.  Is there anything which I'm missing?

![image](https://user-images.githubusercontent.com/10030481/75820016-9884a300-5d69-11ea-8570-ba0904638e6d.png)

[2020-03-11 15:45] mwleinad opened #43 "Blackboard is not sending https://purl.imsglobal.org/spec/lti/claim/resource_link claim"
https://github.com/IMSGlobal/lti-1-3-php-library/blob/master/src/lti/message_validators/resource_message_validator.php#L20

Blackboard made a change from 3800.2 to 3800.4 and now they do not send this claim for some launches.

I notice that you throw an error if the claim is not there. AFAIK this claim is required, right?

Would there be any case where the claim is not present in an LTI 1.3 launch

[2020-03-11 16:49] MartinLenord commented on #43
The resource link claim isn't required for deep linking launches (because the resource does not exist at that point) if the message type is LtiResourceLinkRequest then it is required

[2020-03-12 18:40] mwleinad commented on #43
Yeah, this is not a deep linking launch

[2020-03-12 20:49] MartinLenord commented on #43
How is the tool placement configured? @ewpreston may be able to shed more light on this

[2020-03-13 14:16] ewpreston commented on #43
We fixed a bug in 3800.4 around this. The first release of 3800.4 to partners had the issue, but we fixed it before we released to production.

From where are you launching and what type of LTI placement is it? Course, Content, System, or Admin?

If you launch it from the Content Market by clicking on the icon we don't send the resource link claim, because it is not associated with a resource at t

[2020-04-13 12:42] DreamerIn commented on #19
@viveklm Did you got any solution for this error?
{"errors":{"jwt":[{"attribute":"jwt","type":"JWT verification failure","message":"JWT verification failure"}]}}
I am also getting the same error from canvas while sending deeplinking response

[2020-05-05 22:00] vivekaswal commented on #34
After changing all changes, Getting this when creating deeplink

![image](https://user-images.githubusercontent.com/10030481/81120238-46433800-8efa-11ea-8a14-ad28f369f9c1.png)

[2020-06-05 11:30] Rohi145 commented on #26
Hello, Martin
I hope you are doing well.
After implementing LTI advantage in BB, moodle, D2l, Now I am trying to integrate in canvas:
I have a few questions please guide me about that.
1. Is LTI advantage in canvas support multiple resource creation?
2.what are the limitations in canvas for LTI advantage?

Please guide me asap.
Thanks.

[2020-06-05 11:45] MartinLenord commented on #26
Hi @Rohi145
Canvas does not currently support returning multiple content items in deep linking
They also do not correctly support custom parameters in deep linking

[2020-06-25 15:18] mwleinad opened #48 "LTI_Assignments_Grades_Service not returning all line_items"
I think this only returns 10 line items by default, and if the context has more than 10 sometimes it doesn't find it

https://github.com/IMSGlobal/lti-1-3-php-library/blob/3a192de99f3783d76caea462b0d04db28569c123/src/lti/LTI_Assignments_Grades_Service.php#L44

Any way to specify the number of items per page that we want/need?

[2020-06-25 16:52] MartinLenord commented on #48
It's probably that the platform is paginating the response and this method doesn't currently handle that. Which platform were you encountering this in?

[2020-06-26 18:14] mwleinad commented on #48
Canvas.
I was reading that the platform can do that
https://www.imsglobal.org/spec/lti-ags/v2p0#container-request-filters

So I'm guessing this method has to be modified :/
I forked this project so after I figure it out I will post my solution

[2020-06-26 19:34] mwleinad commented on #48
So this is what I ended up doing

[code]

This would scope the query to only the resourceLinkId and that one at least I'm hoping won't contain more than 10 items (I'm calling it $assignment_id)

[2020-07-01 16:53] drlippman opened #49 "Date format in grade setting example"
In the example of how to use the grade service, the readme has

`->set_timestamp(date(DateTime::ISO8601))`

But the AGS specs say "Timestamp values MUST be formatted using ISO 8601 with a sub-second precision." and the `DateTime::ISO8601` format does not include sub-second precision.  Also (at least according to php manual) `DateTime::ISO8601` isn't actually iso8601 compatible.

I'm guessing most

[2020-10-14 02:12] oroalej commented on #14
Hi @MartinLenord, can you tell us what's the minimum PHP version for this library?

[2020-10-16 10:26] MartinLenord commented on #14
@oroalej I have not tested it on anything below PHP 7.2

[2020-12-10 13:43] eagle-13 commented on #26
Hi, Martin. Nice to know you.
I am encountered the error while integrating this example with canvas. Canvas error is like this:
response_code: 500
request_id: f04ccfc1-e8ef-4b10-8fd3-5380adb6da5d
session_id: ceff9b8a92767421033527825eed644c
meta_headers: ''''
format: !ruby/object:Mime::Type
 synonyms:
 - text/x-json
 - application/jsonrequest
 symbol: :json
 string: application/json
 hash: 2376436

[2020-12-11 17:20] dkjensen opened #53 "PSR-4 autoloading standards"
When loading this library via composer, the following errors are being presented when generating the autoloader

[code]

[2020-12-26 22:27] kpommerenke opened #54 "DateTime::ISO8601 is not ISO-8601 compatible"
DateTime::ISO8601 is not ISO-8601 compatible. Use DateTime::ATOM instead.
Source: https://www.php.net/manual/en/class.datetimeinterface.php#datetime.constants.types

[2021-01-02 15:42] kpommerenke opened #55 "Check access token for expiration"
The LTI_Service_Connector->get_access_token() method should check if the cached access token has expired before returning it. If it has expired, the method should request and return a new access token.

[2021-02-07 09:53] pammel commented on #30
I'm sorry, it doesn't inspire much confidence when IMSGlobal wants to define standards on the one hand, but doesn't adhere to standards itself. It has now been more than one year since this problem was reported. Especially PSR-4 would be extremely important (Autoloader).

[2021-02-07 09:54] pammel commented on #53
It doesn't inspire much confidence when IMSGlobal wants to define standards on the one hand, but doesn't adhere to standards itself (PSR-4).

[2021-02-07 12:03] MartinLenord commented on #30
Hi @pammel, this library was developed more as a testing and learning tool for the LTI specifications that can be used to try out changes and developments to the LTI specifications, and as such isn't really actively developed for purposes beyond that.

You might find a few better resources on https://github.com/IMSGlobal/ltibootcamp which has links to some other open sourced PHP libraries for LTI

[2021-02-11 23:48] cmcfadden opened #56 "Cache and re-use a lineitem?"
Curious to sanity check something before doing a fork.

We have an app that will create multiple lineitems, and then may be updating them frequently. Rather than going back to the LMS continually to fetch that info, I'd like to just cache those in our app.

Right now, the AGS put_grade method will always reload a lineitem, unless it was the claim/endpoint.

I was thinking of adding a new condition

[2021-02-12 18:00] kpommerenke commented on #56
We've been using the exact same two lines in production for two months and have not had any issues.

What did create an issue was to get the launch data from cache based on the launch ID stored in the session, when students were able to switch from one course to another in our tool without relaunching from the LMS, as the launch data from the session then showed the wrong context ID and picked the

[2021-07-16 16:00] danielleEriksen opened #60 "Working with Canvas and multiple registrations"
We've got a basic launch validation service set up using this library. Works like a breeze locally, until I add a second set of registration credentials for a registration set up in our Canvas staging environment.

The problem I'm encountering now is that in Canvas, the value for issuer is not unique, every launch via canvas will have 'canvas.instructure.com' as the value for `iss`. I've got the D

[2021-07-17 01:08] kpommerenke commented on #60
We implemented the database interface with the following methods:
public function find_registration($issuer, $clientID = ""){...}
public function find_registration_by_issuer($issuer){           // Left here to implement the Database interface; not used
        return $this->find_registration($issuer);
    }
public function find_deployment2($issuer, $clientID, $deploymentID){...}
public function fi

[2021-07-19 15:01] danielleEriksen commented on #60
Thanks for the super quick response  and helpful example @kpommerenke.

[2021-07-19 15:01] #60 closed, assigned to nobody

[2021-10-03 23:09] kreut opened #61 "Caching a launch forever"
Hi,

I *think* I can do this but just to be on the safe side...

I'm using grade pass back with this library and I'm hoping to cache the launch data once per assignment-student.  Assuming that I save the initial jwt_body in my database, can I re-use it each time for subsequent grade pass backs?  As a use case, I could see a need for my app to update a score for the student well after they may have

[2021-10-04 01:01] mumitr0ll commented on #61
How would you not

[2021-10-04 17:07] mumitr0ll commented on #61
Apologies, I closed this by mistake. PIBKAC.

Yes, caching this data is critical and you really must do that. One can easily imagine a linked table that keeps the AGS created lineitems that extend the data for this particular user context. But yes, you'd want to hold this data more or less forever and then work with the linked AGS data downstream.

Dereck

[2021-10-13 18:07] kreut commented on #61
Thanks!

[2021-10-13 18:07] #61 closed, assigned to nobody

[2021-10-20 08:39] junglebarry opened #62 "Should registrations be indexed by client ID as well as issuer?"
We've been tinkering with this library, and noticed that [the database of registrations is queried by issuer alone](https://github.com/IMSGlobal/lti-1-3-php-library/blob/master/src/lti/Database.php#L5) (`iss` from the JWT). However, for platforms like Canvas cloud, the `iss` would be the same across all tenant instances, and the process of adding a tool to any individual instance would generate a

[2021-10-20 10:20] junglebarry commented on #62
Looks like there's a few different use-cases.

* First, [checking platforms are registered during OIDC login](https://github.com/IMSGlobal/lti-1-3-php-library/blob/3a192de99f3783d76caea462b0d04db28569c123/src/lti/LTI_OIDC_Login.php#L110) (where `client_id` is optional in the spec);
* Second, [validating the client in the LTI message launch itself](https://github.com/IMSGlobal/lti-1-3-php-library/b

[2021-10-20 16:27] kpommerenke commented on #62
It makes sense to find the registration by issuer and client ID. However, Blackboard doesn't send the client ID initially, so you should be able to find the registration by issuer only. We use the following method signature in the class that implements the Database interface:
    public function find_registration($issuer, $clientID = ""){}
If $clientID is provided, then it's used in the database q

[2021-10-20 16:43] junglebarry commented on #62
That makes a lot of sense - thank you!

[2021-11-02 14:34] etsikt opened #63 "get_response_jwt crashes when deep_link_settings['data'] is not set"
**Steps to reproduce:**
1. Issue a deep linking request message without specifying deep_link_settings['data'].
2. Respond using output_response_form function in LTI_Deep_Link.php
3. Notice that the code crashes because deep_link_settings['data'] is not set:
[2021-11-02 15:26:50] production.ERROR: Undefined index: data {"exception":"[object] (ErrorException(code: 0): Undefined index: data at /var/w

[2021-11-25 12:16] uc-sgu opened #64 "how to generate an RSA private key and a matching JWK?"
Hello,

I am working to implement LTI 1.3 and I need help with the RSA key and JWK.

how to generate an RSA private key and a matching JWK for LTI 1.3 integration?

[2021-11-29 02:58] kpommerenke commented on #64
Did you look at [https://github.com/IMSGlobal/lti-1-3-php-library#creating-a-jwks-endpoint](https://github.com/IMSGlobal/lti-1-3-php-library#creating-a-jwks-endpoint)?

[2021-11-29 05:50] uc-sgu commented on #64
Thanks.

Should I always generate a new RSA key for every new LTI 1.3 integration?

How can I generate an RSA key for LTI 1.3 integration?

Can you please confirm?

[2021-12-07 19:53] dbhynds opened #66 "Security vulnerability found, but no defined security policy for this project"
I have identified a security vulnerability on this project, but the project does not have a defined security policy. Could someone provide information about how to safely disclose the vulnerability?

[2021-12-07 22:18] MartinLenord commented on #66
You can pass it to me directly if you want

[2022-01-13 12:04] roy-at-binate commented on #27
@MartinLenord please answer this questions. I am also looking for a complete solution. And it would be better to have a Laravel package.

[2022-02-09 13:13] sunny047 commented on #63
Hi,

Any update on this issue? I am testing this library in a laravel and facing this issue while using the output_response_form function.

[2022-02-10 09:30] etsikt commented on #63
I ended up doing a fork with these changes: https://github.com/matematikk-mooc/lti-1-3-php-library/commit/eb6a4fba895ac42d9344b0371b50c5eceedb4983

[2022-02-14 07:05] adydev15 commented on #27
@roy-at-binate
Did you find anything relative ? as i am also looking for solution to be integrated in Laravel .

@MartinLenord It would be good if we have some more detailed insights to utilize this on Laravel as well.

[2022-03-03 16:42] marcbertone opened #68 "PHP Notice: Undefined index: state in /vendor/imsglobal/lti-1p3-tool/src/lti/LTI_Message_Launch.php on line 265"
Error:
validate_state() method in the LTI_Message_Launch class does not properly handle NULL / not-set 'state' value.

Proposed Solution:
Perform an isset() or empty() check against $this->request['state'] before attempting to use the value in the cookie retrieval call.  Throw an exception if the value is not set.

[2022-03-03 18:13] #68 closed, assigned to nobody

[2022-03-23 14:54] kreut opened #70 "0 score not being passed back"
Hi,

When a student receive a 0 and I pass the score back to Canvas, nothing actually gets passed back, making it look like it is something that needs to be graded (Bug report posted here:  ).

As a possible fix, in https://github.com/IMSGlobal/lti-1-3-php-library/blob/master/src/lti/LTI_Grade.php:

 $score_given = 0 + $this->score_given;
        $grade_array = array_filter([
            "scoreGiv

[2022-05-03 12:45] ronnela commented on #36
Will this Library work on Canvas from instructure? since cookies can't be shared cross-origin, what would be the solution?

[2022-06-17 08:56] ThomasDumazet opened #72 "LTI_Message_Launch get_public_key method issue due to JWK changes"
The method `get_public_key` returns `openssl_pkey_get_details(JWK::parseKey($key))`, but we encountered an error saying `openssl_pkey_get_details() expects parameter 1 to be resource, object given`.
After investigation, we discovered that firebase has changed the return type for `JWK` methods in January 2022.
The lti-1-3-php-library library doesn't require `firebase/php-jwt` but `fproject/php-jwt`

[2022-07-08 15:06] JanHolger commented on #72
Hi Thomas there has been 2 PR's fixing both this and other errors that arise when using it together with the official firebase/php-jwt aswell as other Laravel issues. Unfortunately IMS seems to have died during the pandemic or something and there hasn't been any response on this in over 2 years now. If only your own code depends on php-jwt you could try using the outdated library instead but the p

[2022-07-08 15:24] JanHolger commented on #70
Use https://github.com/packbackbooks/lti-1-3-php-library instead, it fixes this and multiple other issues and this repo here is dead.

[2022-07-14 19:13] dbhynds opened #75 "Is this project abandoned?"
As far as I can tell, the last time changes were merged into this project was June 2020 (two years ago), and the project owner hasn't responded to any of the issues since March 2020.

For anyone looking for an actively used and maintained version of this package, we have one over at https://github.com/packbackbooks/lti-1-3-php-library which contains the following:

- Fixes security vulnerabilities

[2022-09-09 20:55] kreut commented on #70
Thanks!